@font-face{
    font-family:'Century';
    src:url("../fonts/Century-Gothic.eot");
    src:url("../fonts/Century-Gothic.woff") format("woff"),url("../fonts/Century-Gothic.ttf") format("truetype"),url("../fonts/Century-Gothic.svg") format("svg");
    font-weight:normal;
    font-style:normal
}
*{
    margin:0;
    padding:0;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    outline:0;
    font-family:'Century', sans-serif
}

.menu_bar{
    display: none; /*esconde*/
    
}
header nav {
    display: none;
}

.header{
    position:absolute;
    display:block;
    max-width:100%;
    width:100%;
    height:auto;
    top:0;
    z-index:2
    
}
.header .seccion_header{
    height:100%;
    padding:0;
    display:inline-block !important;
    height:auto;
    border:0;
    margin:0;
    background-color:transparent
}

@media screen and (min-width: 1201px){
.header .seccion_header{
    height:15vh;
    }
}
.wrapper{
    position:relative;
    max-width:1200px;
    width:100%;
    height:auto;
    min-width:320px;
    min-height:95vh;
    margin:0 auto;
}
@media screen and (max-height: 850px){
.wrapper{
    min-height:92vh;
    
    }
}
.wrapper .header_secure{
    display:block;
    max-width:1200px;
    width:100%;
    height:auto;
    top:0;
    z-index:2
}
.wrapper .header_secure .logos-place{
    background-color:none
}
.wrapper .header_secure .logos-place .logo{
    display:inline-block;
    padding:25px 15px
}
.wrapper .header_secure .logos-place .logo img{
    height:110px;
    width:60%;
    display:block
}

.wrapper .header_secure .logos-place .logo_b img{
    right:10px;
    position:absolute
}

.wrapper .header_secure .seccion_header_secure{
    height:100%;
    padding:0;
    display:inline-block !important;
    height:auto;
    border:0;
    margin:0;
    color:#FFFFFF
}

.wrapper .header_secure .header_column_secure_A img{
    width:90%;
    height:50%;
    margin:3vh auto 3vh;
    display:block;
    max-width:200px
}
.wrapper .header_secure .header_column_secure_B .border_menu{
    width:100%;
    display:block;
    height:15px;
    background-color:#126FD3;
    margin-bottom:20px;
    margin-top:-2px
}
.wrapper .header_secure .header_column_secure_B .menu_superior{
    margin:0;
    width:89%;
    height:100%;
    display:inline-block;
    position:relative;
    list-style:outside none none
}

.wrapper .header_secure .header_column_secure_B .menu_superior li{
    display:inline-block;
    width:auto;
    cursor:pointer;
    background-color:#126FD3;
    border-radius:10px 10px 0px 0px;
    padding:7px 0
}

.wrapper .header_secure .header_column_secure_B .menu_superior li a{
    color:#FFFFFF;
    text-decoration:none;
    padding:0 0.5vw
}
.wrapper .header_secure .header_column_secure_B .menu_superior li a:visited{
    color:#FFFFFF
}
.wrapper .header_secure .header_column_secure_B .menu_superior li .sub-menu{
    position:absolute;
    display:none;
    margin:0;
    background-color:rgba(0,0,0,0.5);
    list-style:none;
    min-width:14vw;
    left:-3vw;
    margin-top:1.5vh;
    z-index:3
}
@media screen and (max-width: 1500px){
.wrapper .header_secure .header_column_secure_B .menu_superior li .sub-menu{
    left:-3vw
    }

}
@media screen and (max-width: 1024px){
.wrapper .header_secure .header_column_secure_B .menu_superior li .sub-menu{
    left:-6vw
    }

}

.wrapper .header_secure .header_column_secure_B .menu_superior li .sub-menu li{
    color:#ffffff;
    text-align:center;
    width:100%;
    margin:0
}
@media screen and (max-width: 1024px){
.wrapper .header_secure .header_column_secure_B .menu_superior li .sub-menu li{
    padding:0 5vw
    }
}
.wrapper .header_secure .header_column_secure_B .menu_superior li:hover{
    border-left:3px solid #FFFFFF;
    border-right:3px solid #FFFFFF
}
.wrapper .header_secure .header_column_secure_B .menu_superior li:hover .sub-menu{
    display:block
}
.wrapper .header_secure .header_column_secure_B .menu_social{
    width:10%;
    display:inline-block
}
.wrapper .header_secure .header_column_secure_B .menu_social a{
    cursor:pointer;
    background-color:#126FD3;
    border-radius:10px 10px 0px 0px;
    padding:11px 0;
    display:block;
    width:50%;
    margin-left:50%
}
@media screen and (max-width: 850px){
    header nav ul li a {
    color: aliceblue;
    padding: 20px;
    text-decoration: none;/*se usa para poder dar pading vertical*/
    display: block;
    }
.wrapper{
    top:75px;
    }
.wrapper .header_secure .header_column_secure_B .border_menu{
    display: none;
    }
.wrapper .header_secure .header_column_secure_B .menu_social a{
    margin:0 auto;
    }
.wrapper .header_secure .header_column_secure_B .menu_social{
    background-color:#126FD3;
    width: 100%;
    height: 100%;
      display: none;
    }
.wrapper .header_secure .header_column_secure_B .menu_superior{
    width: 100%;
    height: 100%;
    text-align:center; 
    display: none;  
    }
.wrapper .header_secure .header_column_secure_B .menu_superior li{
    width:100%;
    height: 100%;
    border-radius:0;    
    }
.wrapper .header_secure .logos-place .logo{
    display:none;
    }

    header nav { /*esto crea el menu */
    margin: 100% auto;
    max-width: 100%;
    background: #002244;
    width: 80%;
    margin: 0;
    left: -100%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: 0;
    top:77px;
    box-shadow: 2px 2px 5px rgb(15, 13, 17);
    }

    header nav ul li {/*esto ordena los menu en forma vertical*/
    display: block;
    float:none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    
    }
.menu_bar { /*menu vertical para mostrar boton de aparecer*/
    position: fixed;
    display: block;
    width: 100%;
    background: #ccc;
    
    }
  
.menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: #126FD3;
    color: #ffff;
    text-decoration: none;
    font-weight: bold; 
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     box-shadow: 2px 2px 5px rgb(15, 13, 17);
    
    }
.menu_bar img {
    float: right;
    font-size: 40px;
    }

}


.wrapper .header_secure .header_column_secure_B .menu_social a i{
    width:100%;
    display:block;
    margin:0 auto;
    color:#FFFFFF;
    text-align:center
}
.wrapper .header_secure .header_column_secure_C a{
    color:#FFFFFF
}
.wrapper .header_secure .header_column_secure_C i{
    padding-top:5.2vh;
    padding-bottom:5.2vh;
    font-size:26px;
    display:inline-block;
    width:48%;
    text-align:center;
    cursor:pointer
}
.wrapper .central_block{
    display:block;
    height:auto;
    min-height:82vh;
    width:100%;
    max-width:100%;
    margin:0
}
.wrapper .central_block .slider{
    display:block;
    overflow:hidden;
    width:100%;
    height:82vh;
    max-width:100%;
    margin:0
}
.wrapper .central_block .slider .arrow_slide{
    position:absolute;
    top:50%;
    cursor:pointer;
    padding:1vh 0.5vw;
    background-color:rgba(255,255,255,0.5);
    z-index:2
}
.wrapper .central_block .slider .arrow_slide i{
    color:#000000;
    font-size:25px;
    height:100%;
    width:100%;
    text-align:center
}
.wrapper .central_block .slider .arrow_slide_right{
    left:1%
}
.wrapper .central_block .slider .arrow_slide_left{
    right:1%
}
.wrapper .central_block .slider .slider_column{
    display:inline-block;
    height:100%;
    border:1px solid #FFFFFF;
    padding:0
}
.wrapper .central_block .slider .slider_column img{
    display:block;
    width:100%;
    height:100%
}
.wrapper .central_block .slider .slider_column .hover_slide{
    position:absolute;
    opacity:0;
    height:100%;
    width:100%;
    top:0;
    background-color:rgba(0,0,0,0.8);
    padding:50px 0
}
@media screen and (max-width: 850px){
    .wrapper .central_block .slider .slider_column .hover_slide{
        padding:10% 0
    }
}
.wrapper .central_block .slider .slider_column .hover_slide h3{
    display:block;
    width:100%;
    text-transform:uppercase;
    text-align:center;
    color:#FFFFFF
}
.wrapper .central_block .slider .slider_column .hover_slide p{
    display:block;
    width:100%;
    text-align:justify;
    color:#FFFFFF;
    padding:0 6vw
}
.wrapper .central_block .slider .slider_column .hover_slide a{
    display:block;
    width:100%;
    text-align:center;
    color:#FFFFFF;
    text-decoration:underline;
}
.wrapper .central_block .slider .slider_column .hover_slide a:visited{
    color:#FFFFFF
}
.wrapper .central_block .slider .slider_column:hover .hover_slide{
    opacity:1;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out
}
.wrapper .central_block .slider .slider_column:last-child{
    background-color:red
}
.wrapper .central_block .content_section_center{
    display:block;
    width:100%;
    min-height:82vh;
    height:auto;
    max-width:100%;
    margin:0
}
.wrapper .central_block .content_section_center h2{
    text-transform:uppercase;
    width:100%;
    display:block;
    border-bottom:1px solid #000000;
    margin-bottom:0;
}
.wrapper .central_block .content_section_center .contenedor_texto p{
    margin:0;
    margin-bottom:10px !important
}
.wrapper .central_block .content_section_center .contenedor_texto div{
    display:block;
    margin-bottom:20px
}
.wrapper .central_block .content_section_center .section_center{
    display:inline-block;
    min-height:82vh;
    height:auto
}
.wrapper .central_block .content_section_center .section_center h2{
    display:block;
    margin-top:10vh;
    
}
.wrapper .central_block .content_section_center .section_center_A p{
    text-align:justify;
    margin-bottom:5vh
}
.wrapper .central_block .content_section_center .section_center_B .imagenes_genericas{
    list-style:none;
    margin:0
}
.wrapper .central_block .content_section_center .section_center_B .imagenes_genericas .marca{
    display:inline-block
}
@media only screen and (max-width: 40em){
    .wrapper .central_block .content_section_center .section_center_B .imagenes_genericas .marca{
        width:80%;
        margin:0 auto;
        display:block;
        margin-bottom:2vh
    }
}
@media only screen and (min-width: 40.063em){
    .wrapper .central_block .content_section_center .section_center_B .imagenes_genericas .marca{
        width:48%
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em){
    .wrapper .central_block .content_section_center .section_center_B .imagenes_genericas .marca{
         width:48%
    }
}
@media only screen and (min-width: 64.063em){
    .wrapper .central_block .content_section_center .section_center_B .imagenes_genericas .marca{
        width:48%
    }
}
.wrapper .central_block .content_section_center .section_center_B .imagenes_genericas .marca img{
    display:block;
    margin:0 auto
}
.wrapper .central_block .content_section_center .section_center_B .marcas{
    list-style:none;
    margin:0
}
.wrapper .central_block .content_section_center .section_center_B .marcas .marca{
    display:inline-block
}
@media only screen and (max-width: 40em){
    .wrapper .central_block .content_section_center .section_center_B .marcas .marca{
        width:80%;
        margin:0 auto;
        display:block;
        margin-bottom:2vh
    }
}
@media only screen and (min-width: 40.063em){
    .wrapper .central_block .content_section_center .section_center_B .marcas .marca{
        width:48%
    }

}
@media only screen and (min-width: 40.063em) and (max-width: 64em){
    .wrapper .central_block .content_section_center .section_center_B .marcas .marca{
        width:48%
    }
}
@media only screen and (min-width: 64.063em){
    .wrapper .central_block .content_section_center .section_center_B .marcas .marca{
        width:48%
    }
}
.wrapper .central_block .content_section_center .section_center_B .marcas .marca img{
    display:block;
    margin:0 auto
}
.wrapper .central_block .content_section_center .content_list_p{
    display:block;
    width:100%;
    height:auto;
    margin-bottom:10px
}
.wrapper .central_block .content_section_center .content_list_p .content_product{
    display:inline-block;
    float:none;
    padding:5px;
    margin-top:2vh;
    background-color:#126FD3;
    margin-left:60px
}
@media only screen and (max-width: 40em){
    .wrapper .central_block .content_section_center .content_list_p .content_product{
        margin:15px auto;
        display:block;
        width:80%
    }
}
.wrapper .central_block .content_section_center .content_list_p .content_product img{
    margin:0 auto;
    display:block;
    height:200px;
    width:200px
}
.wrapper .central_block .content_section_center .content_list_p .content_product .data_product span{
    display:block;
    width:100%;
    padding:0.5vh 1vw;
    text-align:center;
    color:#FFFFFF
}
@media only screen and (min-width: 64.063em){
    .wrapper .central_block .content_section_center .content_list_p .content_product .data_product span{
        padding:0.5vh 0vw
    }
}
.wrapper .central_block .content_section_center .content_list_p .content_product .data_product span a{
        color:#FFFFFF;
        line-height:0.5vh;
        text-decoration:underline
    }
.wrapper .central_block .content_section_center .panel_central{
        min-height:82vh;
        height:auto;
        padding:20px 0 0
    }
.wrapper .central_block .content_section_center .panel_izquierdo{
    padding-left:20px;
    min-height:0
}
.wrapper .central_block .content_section_center .panel_izquierdo .vista_previa{
    max-width:450px;
    max-height:450px;
    margin:0 auto;
    display:block;
    width:100%
}
    @media screen and (max-width: 40em){
.wrapper .central_block .content_section_center .panel_izquierdo .vista_previa{
    width:90%
    }

}
.wrapper .central_block .content_section_center .panel_izquierdo .slides_accesorios{
    display:block;
    margin-top:10%;
    width:100%;
    height:24vh;
    padding:3vh 1vw 0;
    overflow:hidden
}
    @media screen and (max-width: 40em){
.wrapper .central_block .content_section_center .panel_izquierdo .slides_accesorios{
    height:40vh
    }

}
.wrapper .central_block .content_section_center .panel_izquierdo .slides_accesorios ul{
    margin:0;
    display:block;
    width:100%;
    height:100%;
    list-style:none
}
.wrapper .central_block .content_section_center .panel_izquierdo .slides_accesorios ul li{
    height:100%;
    padding:1vh 1vw
}
    @media screen and (max-width: 40em){
.wrapper .central_block .content_section_center .panel_izquierdo .slides_accesorios ul li{
    margin:0 auto;
    display:block;
    float:none
}

}
.wrapper .central_block .content_section_center .panel_izquierdo .slides_accesorios ul li img{
    display:block;
    width:100%;
    height:100%
}
.wrapper .central_block .content_section_center .panel_derecho{
    padding-left:2vw
    }
.wrapper .central_block .content_section_center .panel_derecho a{
    color:#303030;
    text-decoration:underline;
    font-size:14px
}
.wrapper .central_block .content_section_center .panel_derecho a i{
    margin-right:5%
    }
.wrapper .central_block .content_section_center .panel_derecho p{
    text-align:justify;
    padding:1vh 2vw
}
.wrapper .central_block .content_section_center .panel_derecho .text_small{
    font-size:12px
    }
.wrapper .central_block .content_section_center .panel_derecho .datos_tecnicos{
    padding:1vh 2vw
    }
.wrapper .central_block .content_section_center .panel_derecho .datos_tecnicos ul{
    width:40%;
    display:inline-block;
    margin-bottom:0
}
.wrapper .central_block .content_section_center .panel_derecho .datos_tecnicos img{
    width:50%;
    top:-7vh;
    display:inline-block
}
.wrapper .central_block .content_section_center .contacto_form h2{
    font-size:20px
}
.wrapper .central_block .content_section_center .contact_form_b{
    padding-top:100px
}
.wrapper .central_block .content_section_center .contact_form_b iframe{
    width:80%;
    height:350px;
    margin:0 auto;
    display:block
}
.wrapper .central_block .items-row{
    max-width:100%;
    display:block;
    width:100%;
    padding:25px 40px
}
.wrapper .central_block .items-row span{
    padding:10px;
    display:block;
    text-align:justify
}
.wrapper .central_block .items-row img{
    min-height:200px
    }
.wrapper .central_block .bidet_section h3{
    border-bottom:5px solid #126FD3
    }
.wrapper .central_block .bidet_section h3 span{
    width:61%;
    display:inline-block;
    margin-left:5%;
    padding:0;
    font-size:1em
}
.wrapper .central_block .bidet_section span{
    font-size:1.3em;
    padding:10px 0
}
.wrapper .central_block .bidet_section .bloque img{
    display:inline-block;
    width:45%;
    margin-right:4%;
    border:5px solid #126FD3
}
.footer{
    bottom:0;
    width:100%;
    max-width:100%;
    height:auto;
    background-color:#126FD3
}
.footer span{
    display:block;
    margin:0 auto;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    padding:2vh 2vw;
    color:#FFFFFF
}
.footer span a{
    text-decoration:none
}
.footer a{
    color:#FFF;
    width:100%;
    text-decoration:underline
}
.footer .site_map{
    width:30%;
    display:block;
    margin:0 auto
}
@media only screen and (max-width: 40em){
    .footer .site_map a{
        width:100%;
        display:block;
        text-align:center
    }
}

/*# sourceMappingURL=style.css.map */
